/Project1/error-margins/
/Project1/execution-time/
/Project1/approaching-value/
/Project1/*.csv
/Project2/main
/Project2/data/
/Project2/results/
/Project3/main
/Project3/data/
/Project3/results/
/Project3/niepsuj_piotr_ASD_p3_kod.zip
/Project3/pnpr3
